@font-face 
{
font-family: "Lato";
src: url("./font/Lato-Italic.ttf");
}
html{
    scroll-behavior: smooth;  
  
}

body{
    color: whitesmoke;
    font-family: 'Lato', sans-serif;
    text-align: center;
    background-color: mediumpurple;
    }

.container{
    background:url(./image/stade.jpg)no-repeat 60% 60%;
    background-size: auto;
    background-position: center;
 
}

/*-- Réglage boutons --*/
.btn {
	box-shadow:inset 0px 1px 0px -2px whitesmoke;
	background:linear-gradient(to bottom, blue 5%, red 100%);
	background-color:greenyellow;
	border-radius:12px;
	border:4px solid whitesmoke;
	display:inline-block;
	cursor:pointer;
    margin-bottom: 5px;
    margin-top: 5px;

  height: 25px;
  text-align: center;
  padding: 0px;
  font-size: 12px;
}




.btn:active {
	position:relative;
	top:1px;
}

.col-md-5 {
 
    width: 40%;
    height: auto;
}
.col-md-2 {

    width: 20%;
    height: auto;
            }
 h1{
    font-size: 0px;
            }

         
   h2,h3,h4     {
font-size: 100%;
margin-bottom: 10px;
height: auto;
color: tomato;
   }    

h3{
   padding-top: 8%;
}

h4{
    padding-bottom: 15%;
 }


#Player1,#Player2{
    width: 75%;
    height: auto;
}


#firstPlayer{
margin-left: 12%;
}

#son{
   width: 30px;
    height: auto;
}

/*-- Rules M-Style --*/
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
    ;
}

.modal-content {
    background-color: whitesmoke;;
    border-radius: 6vh;
    margin: 15% auto;
    padding: 20px;
    border: 2px solid #57422b;
    width: 80%;
    color: rgb(0, 0, 0);
}

.close {
    color: #000;
    float: right;
    font-size: 2em;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: rgb(48, 47, 47);
    text-decoration: none;
    cursor: pointer;
}
