@font-face 
{
font-family: "Lato";
src: url("./font/Lato-Italic.ttf");
}
html{
    scroll-behavior: smooth; /*Navigation douce dans la page*/ 
  
}

body{
    
    color: rgb(255, 255, 255);
    font-family: 'Lato', sans-serif;
    text-align: center;
    background-color: black;
    }

.container{
    background:url(./image/stade.jpg)no-repeat 50% 50%;
    background-size: 95%;
 
}

/*-- Réglage des boutons --*/
.btn {
	box-shadow:inset 0px 1px 0px -2px black;
	background:linear-gradient(to bottom,100%);
	
	border-radius:15px;
	border:3px solid red;
	display:inline-block;
	cursor:pointer;
    margin-bottom: 5px;
    margin-top: 5px;
    height: 25px;
    text-align: center;
    padding: 0px;
    font-size: 120px;
}




.btn:active {
	position:relative;
	top:1px;
}

.col-md-5 {
 
    width: 40%;
    height: auto;
}
.col-md-2 {

    width: 20%;
    height: auto;
            }
 h1{
    font-size: 35px;
            }

         
   h2,h3,h4     {
font-size: 90%;
margin-bottom: 0px;
height: auto;
   }    

h3{
   padding-top: 8%;
}

h4{
    padding-bottom: 15%;
 }


#Player1,#Player2{
    width: 75%;
    height: auto;
}


#firstPlayer{
margin-left: 12%;
}

#son{
   width: 20px;
    height: auto;
}

/*-- Rules Modal Style --*/
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
    ;
}

.modal-content {
    background-color: #c2ab91;;
    border-radius: 2vh;
    margin: 15% auto;
    padding: 20px;
    border: 2px solid #57422b;
    width: 80%;
    color: rgb(0, 0, 0);
}

.close {
    color: #000;
    float: right;
    font-size: 2em;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: rgb(48, 47, 47);
    text-decoration: none;
    cursor: pointer;
}
